<div th:fragment="product-item (product)" class="col-lg-3 d-flex align-items-stretch">
    <div class="card mb-5 shadow" th:if="${product.getFilename()}">
        <img th:src="@{/img/{path} (path = ${product.getFilename()})}" class="rounded mx-auto w-50">
        <div class="card-body text-center">
            <h5 th:text="${product.getProductTitle()}"></h5>
            <h6 th:text="${product.getBrand()}"></h6>
            <h6><span th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')}"></span> VND</h6>
        </div>
        <div class="text-center align-items-end mb-3">
            <a th:href="@{/product/{productId} (productId = ${product.getId()})}" class="btn btn-dark">
                Xem chi tiết
            </a>
        </div>
    </div>
</div>

<div th:fragment="brand-item" class="col-2 float-left">
    <a th:href="${'/product?brands=' + brand}">
        <img class="img-fluid" th:src="${src}" alt="">
    </a>
</div>

<div th:fragment="products-brand-checkbox(brand)" class="checkbox">
    <label>
        <input th:value="${brand}" type="checkbox" name="brands" onChange="this.form.submit()"
               th:checked="${searchRequest.getBrands() != null ? #arrays.contains(searchRequest.getBrands(), brand) : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${brand}"></th:block>
    </label>
</div>

<div th:fragment="products-color-checkbox(color)" class="checkbox">
    <label>
        <input th:value="${color}" type="checkbox" name="colors" onChange="this.form.submit()"
               th:checked="${searchRequest.getColors() != null ? #arrays.contains(searchRequest.getColors(), color) : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${#strings.capitalize(color)}"></th:block>
    </label>
</div>

<!--<div th:fragment="products-price-checkbox" class="checkbox">-->
<!--    <label>-->
<!--        <input th:value="${startingPrice}" type="radio" name="price" onChange="this.form.submit()"-->
<!--               th:checked="${searchRequest.getPrice() != null ? startingPrice == searchRequest.getPrice() : false}"/>-->
<!--        <span class="cr"><i class="cr-icon fas fa-check"></i></span>-->
<!--        <th:block th:text="${startingPrice == 0} ? 'any' : ${startingPrice} + ' - ' + ${endingPrice}"></th:block>-->
<!--    </label>-->
<!--</div>-->

<div th:fragment="products-price-checkbox" class="checkbox">
    <label>
        <input th:value="${startingPrice}" type="radio" name="price" onChange="this.form.submit()"
               th:checked="${searchRequest.getPrice() != null ? startingPrice == searchRequest.getPrice() : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${startingPrice == 0 ? 'Bất kỳ' : 'Từ ' + #numbers.formatDecimal(startingPrice, 0, 'COMMA', 0, 'POINT') + ' - ' + #numbers.formatDecimal(endingPrice, 0, 'COMMA', 0, 'POINT')}"></th:block>
    </label>
</div>

