<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">

            <div th:if="${error}" class="alert alert-danger mb-0" role="alert">
                <strong>Lỗi:</strong> <span th:text="${error}">Có lỗi xảy ra</span>
            </div>

            <div class="row mx-3">
                <div class="col-md-9 mb-5">
                    <th:block th:replace="fragments/common-fragments :: info-title(
                        text='Thêm sản phẩm',
                        icon='fas fa-plus-square mr-2'
                    )"/>
                    <br/>
                    <form method="post" action="/admin/add/product" enctype="multipart/form-data">
                        <div class="form row">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Tên sản phẩm',
                                name='productTitle',
                                placeholder='Nhập tên sản phẩm',
                                value=(${product} ? ${product.productTitle} : ''),
                                error=(${productTitleError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Thương hiệu',
                                name='brand',
                                placeholder='Nhập thương hiệu',
                                value=(${product} ? ${product.brand} : ''),
                                error=(${brandError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-select(
                                title='Màu sắc',
                                name='productColor',
                                options=(${ {'Đen', 'Trắng', 'Xám', 'Hồng nhạt', 'Xanh dương', 'Xanh lá'} }),
                                error=(${productColorError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Loại pin',
                                name='battery',
                                placeholder='Nhập loại pin',
                                value=(${product} ? ${product.battery} : ''),
                                error=(${batteryError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='CPU',
                                name='cpu',
                                placeholder='Nhập CPU',
                                value=(${product} ? ${product.cpu} : ''),
                                error=(${cpuError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Hệ điều hành',
                                name='operatingSystem',
                                placeholder='Nhập hệ điều hành',
                                value=(${product} ? ${product.operatingSystem} : ''),
                                error=(${operatingSystemError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='RAM',
                                name='ram',
                                placeholder='Nhập RAM',
                                value=(${product} ? ${product.ram} : ''),
                                error=(${ramError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Ổ cứng',
                                name='hardDisk',
                                placeholder='Nhập dung lượng ổ cứng',
                                value=(${product} ? ${product.hardDisk} : ''),
                                error=(${hardDiskError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Card đồ họa',
                                name='card',
                                placeholder='Nhập card đồ họa',
                                value=(${product} ? ${product.card} : ''),
                                error=(${cardError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title= 'Giá',
                                name='price',
                                placeholder='Nhập giá',
                                value=(${product} ? ${product.price} : ''),
                                error=(${priceError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title= 'Số lượng',
                                name='stock',
                                placeholder='Nhập số lượng',
                                value=(${product} ? ${product.stock} : ''),
                                error=(${stockError})
                            )"/>
                            <div class="col" style="margin-top: 35px">
                                <input type="file" name="file"/>
                            </div>
                        </div>
                        <th:block th:replace="fragments/common-fragments :: icon-button(
                            text='Thêm',
                            buttonClassName='mt-3',
                            icon='fas fa-plus-square mr-2'
                        )"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
