<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-9 mb-5">
                    <th:block th:replace="fragments/common-fragments :: info-title(
                        text='Thêm sản phẩm',
                        icon='fas fa-plus-square mr-2'
                    )"/>
                    <br/>
                    <form method="post" action="/admin/add/product" enctype="multipart/form-data">
                        <div class="form row">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Tên sản phẩm',
                                name='productTitle',
                                placeholder='Nhập tên sản phẩm',
                                value=(${product} ? ${product.productTitle} : ''),
                                error=(${productTitleError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Thương hiệu',
                                name='brand',
                                placeholder='Nhập thương hiệu',
                                value=(${product} ? ${product.brand} : ''),
                                error=(${brandError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Năm sản xuất',
                                name='year',
                                placeholder='Nhập năm sản xuất',
                                value=(${product} ? ${product.year} : ''),
                                error=(${yearError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Quốc gia sản xuất',
                                name='country',
                                placeholder='Nhập quốc gia',
                                value=(${product} ? ${product.country} : ''),
                                error=(${countryError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-select(
                                title='Loại',
                                name='model',
                                options=(${ {'Old', 'New 99%'} }),
                                error=(${modelError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Hệ điều hành',
                                name='operatingSystem',
                                placeholder='Nhập hệ điều hành',
                                value=(${product} ? ${product.operatingSystem} : ''),
                                error=(${operatingSystemError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-select(
                                title='Màu sắc',
                                name='productColor',
                                options=(${ {'light', 'dark'} }),
                                error=(${productColorError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Dung lượng pin',
                                name='batteryCapacity',
                                placeholder='Nhập dung lượng pin',
                                value=(${product} ? ${product.batteryCapacity} : ''),
                                error=(${batteryCapacityError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Bộ nhớ',
                                name='storageCapacity',
                                placeholder='Nhập dung lượng bộ nhớ',
                                value=(${product} ? ${product.storageCapacity} : ''),
                                error=(${storageCapacityError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Dung lượng RAM',
                                name='ramCapacity',
                                placeholder='Nhập dung lượng RAM',
                                value=(${product} ? ${product.ramCapacity} : ''),
                                error=(${ramCapacityError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title= 'Giá',
                                name='price',
                                placeholder='Nhập giá',
                                value=(${product} ? ${product.price} : ''),
                                error=(${priceError})
                            )"/>
                            <div class="col" style="margin-top: 35px">
                                <input type="file" name="file"/>
                            </div>
                        </div>
                        <th:block th:replace="fragments/common-fragments :: icon-button(
                            text='Thêm',
                            buttonClassName='mt-3',
                            icon='fas fa-plus-square mr-2'
                        )"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
