<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head">
</head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container">
    <!-- New Banner Carousel (unchanged) -->
    <div id="bannerCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div style="width: 100vw; height: 640px; position: relative; overflow: hidden;">
                    <img src="../static/banner-1.jpg" alt="Banner 1" class="img-fluid"
                         style="width: 100vw; height: 640px; object-fit: cover; position: absolute; top: 0; left: 0;">
                </div>
            </div>
            <div class="carousel-item">
                <div style="width: 100vw; height: 640px; position: relative; overflow: hidden;">
                    <img src="../static/banner-2.jpg" alt="Banner 2" class="img-fluid"
                         style="width: 100vw; height: 640px; object-fit: cover; position: absolute; top: 0; left: 0;">
                </div>
            </div>
            <div class="carousel-item">
                <div style="width: 100vw; height: 100vh; position: relative; overflow: hidden;">
                    <img src="../static/banner-3.jpg" alt="Banner 3" class="img-fluid" style="width: 100vw; height: 100vh; object-fit: cover; position: absolute; top: 0; left: 0;">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container text-center my-3 mt-5">
        <h3>Thương hiệu</h3>
        <div class="brand-list">
            <div class="brand-item">
                <img src="https://i.ibb.co/Ps4j2Vn9/acer.png" alt="Acer" class="img-fluid">
                <p>Acer</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/cSptpxT1/asus.jpg" alt="Asus" class="img-fluid">
                <p>Asus</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/1G6YCzGr/dell-logo.jpg" alt="Dell" class="img-fluid">
                <p>Dell</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/mrMh6VgS/gigabyte.png" alt="Gigabyte" class="img-fluid">
                <p>Gigabyte</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/tphVQTcy/hp.jpg" alt="HP" class="img-fluid">
                <p>HP</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/xKqz1Zv1/Huawei.png" alt="Huawei" class="img-fluid">
                <p>Huawei</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/bRy0v2xk/lenovo.jpg" alt="Lenovo" class="img-fluid">
                <p>Lenovo</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/Fq5D7c5r/mac.png" alt="MacBook" class="img-fluid">
                <p>MacBook</p>
            </div>
            <div class="brand-item">
                <img src="https://i.ibb.co/TxpqhZKV/msi.png" alt="MSI" class="img-fluid">
                <p>MSI</p>
            </div>
        </div>
    </div>

    <div class="container text-center my-3">
        <h4>Khuyên dùng</h4>
    </div>
    <div class="container mt-5">
        <form method="get" action="/product/popular">
            <div class="row">
                <div class="col-sm-12">
                    <div id="productCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row" th:fragment="list">
                                        <th:block th:replace="fragments/products-fragments :: product-item(${products[0]})"/>
                                        <th:block th:replace="fragments/products-fragments :: product-item(${products[1]})"/>
                                        <th:block th:replace="fragments/products-fragments :: product-item(${products[2]})"/>
                                        <th:block th:replace="fragments/products-fragments :: product-item(${products[3]})"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:replace="fragments/common-fragments :: carousel-indicators('#productCarousel')"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>