<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="container pt-5 pb-5 bg-white shadow-sm">
        <div class="row">
            <div class="col-md-5">
                <img th:src="@{/img/{path} (path = ${product.getFilename()})}" class="rounded mx-auto w-100">
            </div>
            <div class="col-md-7">
                <h2 th:text="${product.getProductTitle()}"></h2>
                <h3 th:text="${product.getBrand()}"></h3>
<!--                <p>Mã sản phẩm: <span th:text="${product.getId()}"></span></p>-->
                <p class="product-stock" style="color: #54C0A1">Còn hàng</p>
                <div class="row ml-1">
                    <h6 class="mr-5">
                        <span th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')} + ' VND'"></span>
                    </h6>
                    <form action="/cart/add" method="post">
                        <button type="submit" name="productId" class="btn btn-success mx-3"
                                th:value="${product.getId()}">
                            <i class="fas fa-cart-plus mr-2 fa-lg"></i>
                            Thêm vào giỏ hàng
                        </button>
                    </form>
                </div>
                <br>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td th:text="${product.productTitle}"></td>
                    </tr>
                    <tr>
                        <td>Thương hiệu:</td>
                        <td th:text="${product.brand}"></td>
                    </tr>
                    <tr>
                        <td>Màu sắc:</td>
                        <td th:text="${product.productColor}"></td>
                    </tr>
                    <tr>
                        <td>CPU:</td>
                        <td th:text="${product.cpu}"></td>
                    </tr>
                    <tr>
                        <td>RAM:</td>
                        <td th:text="${product.ram}"></td>
                    </tr>
                    <tr>
                        <td>Ổ cứng:</td>
                        <td th:text="${product.hardDisk}"></td>
                    </tr>
                    <tr>
                        <td>Card đồ họa:</td>
                        <td th:text="${product.card}"></td>
                    </tr>
                    <tr>
                        <td>Màn hình:</td>
                        <td th:text="${product.screen}"></td>
                    </tr>
                    <tr>
                        <td>Cổng kết nối:</td>
                        <td th:text="${product.connectionPort}"></td>
                    </tr>
                    <tr>
                        <td>Webcam:</td>
                        <td th:text="${product.webCam}"></td>
                    </tr>
                    <tr>
                        <td>Thông tin pin:</td>
                        <td th:text="${product.battery}"></td>
                    </tr>
                    <tr>
                        <td>Trọng lượng:</td>
                        <td th:text="${product.weight} + ' gram'"></td>
                    </tr>
                    <tr>
                        <td>Hệ điều hành:</td>
                        <td th:text="${product.operatingSystem}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
