<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="container pt-5 pb-5 bg-white shadow-sm">
        <div class="row">
            <div class="col-md-5">
                <img th:src="@{/img/{path} (path = ${product.getFilename()})}" class="rounded mx-auto w-100">
            </div>
            <div class="col-md-7">
                <h2 th:text="${product.getProductTitle()}"></h2>
                <h3 th:text="${product.getBrand()}"></h3>
                <p>Mã sản phẩm: <span th:text="${product.getId()}"></span></p>
                <p class="product-stock" style="color: #54C0A1">Còn hàng</p>
                <div class="row ml-1">
                    <h6 class="mr-5">
                        <span th:text="${product.getPrice()} + 'đ' "></span>
                    </h6>
                    <form action="/cart/add" method="post">
                        <button type="submit" name="productId" class="btn btn-success mx-3"
                                th:value="${product.getId()}">
                            <i class="fas fa-cart-plus mr-2 fa-lg"></i>
                            Thêm vào giỏ hàng
                        </button>
                    </form>
                </div>
                <br>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td th:text="${product.getProductTitle()}"></td>
                    </tr>
                    <tr>
                        <td>Brand:</td>
                        <td th:text="${product.getBrand()}"></td>
                    </tr>
                    <tr>
                        <td>Mã sản phẩm:</td>
                        <td th:text="${product.getModel()}"></td>
                    </tr>
                    <tr>
                        <td>Năm ra mắt:</td>
                        <td th:text="${product.getYear()}"></td>
                    </tr>
                    <tr>
                        <td>Hệ điều hành:</td>
                        <td><span th:text="${product.getOperatingSystem()}"></span></td>
                    </tr>
                    <tr>
                        <td>Đất nước sản xuất:</td>
                        <td th:text="${product.getCountry()}"></td>
                    </tr>
                    <tr>
                        <td>Màu sắc:</td>
                        <td th:text="${product.getProductColor()}"></td>
                    </tr>
                    <tr>
                        <td>Tuổi thọ pin:</td>
                        <td th:text="${product.getBatteryCapacity()}"></td>
                    </tr>
                    <tr>
                        <td>Dung lượng lưu trữ:</td>
                        <td th:text="${product.getStorageCapacity()}"></td>
                    </tr>
                    <tr>
                        <td>Dung lượng RAM:</td>
                        <td th:text="${product.getRamCapacity()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
